
.profile-img{
  border-radius: 300px;
  width: 150px;
  height: auto;

}

body{
  text-align: center;
  align-content: center;
  background: black;
  color: whitesmoke;
  font-size: 30px;
  
}

.header-icon{
  width: 150px;
  height: auto;

}